$header_height: 42px; /* 顶部高度和侧边宽度 */
$font_color: #FEFEFE; /*顶部LOGO文字颜色*/
$font_color_hover: #2d8cf0; 
$background_color: #272B2E;  /* 顶部背景色 */
$background_color_hover: #1C2327;
$nav_tabs_height: 34px; /* tabs 标签高度*/